* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    margin: 35px 0;
    margin-bottom: 0;
    text-align: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.price {
    color: red;
}

.more {
    display: none;
}

.product-box {
    display: flex;
    margin: 0 60px;
    justify-content: center;
}

.img-item {
    width: 140px;
    height: 140px;
}

.img-item-more {
    width: 350px;
    height: 350px;
}

.item-box {
    text-align: center;
    padding: 70px;
    cursor: pointer;
    &:hover{
        .more{
            display: block;
        }
    }
}

.link {
    text-decoration: none;
    color: black;
}

.back {
    font-weight: bold;
    font-size: 20px;
    color: red;
    cursor: pointer;
}